body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 120px;
}

input[type="number"] {
    width: 50px;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

ul {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    margin: 5px 0;
	width: 50px;
    background-color: #f0f0f0;
    border-radius: 5px;
	text-align: center;
}
