ul {
	display: grid;
	gap: 1em;
	margin: 0 60px;
	grid-template-columns: repeat(7, 1fr);
	margin: 0 60px;
	padding: 0;
}

li {
	font-weight: bold;
	list-style: none;
	border: 1px black solid;
	border-radius: 6px;
	text-align: center;
	padding: 5px 0;
}

a {
	text-decoration: none;
}

