<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
    <title>World Builder Toolkit</title>
</head>
<body>
    <h1>Deadlocks World Builder Toolkit</h1>
    <ul id="menu">
        <a href="/potions/20"><li class="menuItem">Generate Potions</li></a>
        <a href="/npc/20"><li class="menuItem">Generate NPCs</li></a>
        <a href="/names/20"><li class="menuItem">Generate Names</li></a>
		<a href="/random_effect"><li class="menuItem">Wild Magic</li></a>
		<a href="/tavern"><li class="menuItem">Generate Tavern</li></a>
        <a href="/dice_roller"><li class="menuItem">Roll Some Dice!</li></a>
		<a href="/classes/barbarian"><li class="menuItem">View 5e Classes</li></a>
    </ul>
</body>
</html>
