<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potion Generator</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='universal.css') }}">
</head>
<body>
	<a class="backButton" href="/">Home</a>
    <h1>Generated Potions</h1>
    <div class="item-container">
        {% for item in items %}
            <div class="item-card">
				<strong>Effect</strong> 
				{% for effect in item['effects'] %}
					<p>{{ effect }}</p>
				{% endfor %}
				<p><strong>Price:</strong> {{ item['price'] }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>